@font-face {
    font-family: 'Pixel Font';
    src: url(assets/fonts/editundo.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    overflow: hidden;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.ui{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: 998;
}

#dialouge-box{
    position: absolute;
    top: 50%;
    right: 20vw;
    overflow-y: auto;
    scroll-behavior: smooth;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    scrollbar-width: none;       
    -ms-overflow-style: none;
    height: 120px;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    user-select: none;               
    -webkit-user-select: none;      
    -ms-user-select: none;          
    -webkit-tap-highlight-color: transparent;
    
}

.dialouge-option{
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.dialouge-option .interaction-key{
    height: 35px;
    width: 35px;
    background-color: transparent; 
    background-image: url(assets/ui/UI-interact.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Pixel Font';
    font: clamp(1rem, 1.5vw, 1.5rem) 'Pixel Font';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialouge-option .interact-option{
    height: 40px;
    width: 120px;
    background-color: transparent;
    background-image: url(assets/ui/UI-option.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font: clamp(1rem, 1.5vw, 1.5rem) 'Pixel Font';
    color: rgb(250, 220, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialouge-option.show{
    opacity: 1;
    transform: translateY(0);
}

.dialouge-option.hide{
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.dialouge-option:focus{
    border: 0;
}

#dialogue-box::-webkit-scrollbar {
    display: none;
}


#main-ui{
    position: relative;
}

#mobile-hud{
    position: absolute;
    align-items: end;
    display: flex;
    justify-content: space-between;
    padding: 2rem; 
}

#mobile-hud div{
    display: flex;
    gap: 20px;
}

.directional-button{
    font-family: 'Pixel Font';
    font-size: clamp(1.5rem, 2rem, 5rem);
    color: white;
    opacity: 50%;
    background-color: black;
    border-radius: 50%;
    width: clamp(3rem, 10vw, 7rem);
    height: clamp(3rem, 10vw, 7rem);
    user-select: none;               
    -webkit-user-select: none;      
    -ms-user-select: none;          
    -webkit-tap-highlight-color: transparent;
}

#orientation-blocker{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;          
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    z-index: 9999;             
}