*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    overflow: hidden;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
}

#background-canvas{
    width: 100dvw;
    height: 100dvh;
}


#orientation-blocker{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;          
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    z-index: 9999;             
}